.title{
    text-align: center;
}
.content{
    height: 100px;
    width: 400px;
    margin: 10px;
    border: 1px solid black;
    background-color: red;
    cursor: pointer;
}
.output{
    margin: 10px;
}