.title{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: cursive;
}
.content{
    background-color: greenyellow;
    border: 1px solid black;
    height: 300px;
    width: 500px;
    margin: 20px;

}
.output{
    margin: 20px;
}